/* GLOBAL */
* {
    line-height: 1.75em;
    max-width: 600px;
    margin: auto; 
}

h1 {
    font-size: 55px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h2 {
    font-size: 24px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

main, p {
    font-size: 17px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.body-text {
    font-family: Helvetica Neue", Helvetica, Arial, sans-serif;
}

.heading {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: black;
}

/* LINKS */
a {
   color: #142736;
}

a:visited {
    color: #142736;
}

/* NAV MENU */
nav {
    font-size: 17px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

nav a:hover {
	background-color: #545454;
}

.primary-menu ul {
	list-style-type:none;
	padding: 3px;
	margin: 0px;
	background-color: #142736;
}

.primary-menu li {
    display: inline;
}

.primary-menu a {
    display: block;
    padding: 10px 30px;
	text-decoration:none;
	color: white;
	font-weight: bold;
  background-color: #142736;
	display: inline-block;
	text-align: center;
}

/* FORM */
.upload-form {
    border: 1px solid black;
    padding: 3px;
    background-color: lightyellow;
    width: 500px;
    float: left;
}
