{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}"/>
</head>

<body>
    <header class="heading">
        <nav class="primary-menu heading">
            <ul>     
                <li><a href="/home">Home</a></li>
                <li><a href="/docs">Documentation</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="http://www.idsproject.org">IDS Project</a></li>
            </ul>
        </nav>
    </header>
    
    <main>
        <div>
            <a href=""><img src="{% static 'images/IDS_Logo_395w.png' %}" alt="IDS Project Logo"></a>
        </div>
        
        <div class="page-header heading">
            <h1>{{ header }}</h1>
        </div>
        
        {% block content %}
        {% endblock %}
        
				<div style="padding-top: 25px; clear: both;">
					Based on <a href="https://github.com/MrJeremyHobbs/CleanSlips">CleanSlips</a>, developed by <a href="https://github.com/MrJeremyHobbs">Jeremy Hobbs</a>.
				</div>
    </main>
</body>
